description = "Advantages Block"
==
<div class="advantages py-40 flex-around-stretch flex-wrap flex-column">
    <p class="h2 font-36 primary-txt text-center my-30">В чем состоит выгода<br> для людей</p>
    <div class="flex-ls justify-evenly align-start text-center font-medium font-16">
        <div class="mb-20">
            <img src="{{ 'assets/images/chart.svg'|theme }}" alt="CHART" width="240">
            <p>
                <span class="primary-txt">Высокий</span><br>
                уровень доходности<br>
                при <span class="primary-txt">минимальных</span><br>
                рисках
            </p>
        </div>
        <div class="mb-20">
            <img src="{{ 'assets/images/growth.svg'|theme }}" alt="GROWTH" width="240">
            <p>
                Одни из самых<br>
                <span class="primary-txt">стабильно</span> растущих<br>
                акций на бирже
            </p>
        </div>
        <div class="mb-20">
            <img src="{{ 'assets/images/money.svg'|theme }}" alt="MONEY" width="240">
            <p>
                Возможность<br>
                <span class="primary-txt">выводить</span><br>
                средства 
            </p>
        </div>
    </div>
</div>