description = "Appeal of the Director"
==
<div class="appeal container">
    
    <div class="flex-ls justify-evenly align-center p-10">
        <img src="{{ 'assets/images/herbert-diess.png'|theme }}"
             alt="Herbert Diess"
             width="320"
             style="margin: 0 auto"
             class="z-index-2 white-bg-c rounded block">
        <div class="font-20 font-medium pl-20">
            <p>
            Генеральный директор концерна Фольксваген<br>
            <b class="primary-txt">Герберт Дисс</b>,<br>
            являющийся инициатором проекта,<br>
            поделилися историей<br>
            и первыми<br>
            результатами работы "Фольцинвест".
            </p>
        </div>
    </div>
    
    <div class="back-caption display-none-pt">
        <p class="font-black uppercase left-5">гарберт дисс</p>
    </div>
    <div class="text-container px-20 font-medium">
        <article class="text-container black-txt relative z-index-2" style="text-shadow: 0 0 8px white">
            <p>
            Идея открытия проекта с упрощенным инвестированием возникла довольно давно, 
            но только в период кризиса, связанного с пандемией, мы поняли, что 
            <b class="primary-txt">обязаны реализовать задуманное.</b>
            </p>
            <p>
            Исторически сложилось, что мы одна из <b class="primary-txt">крупнейших</b> и
            <b class="primary-txt">высокодоходных</b> компаний в Германии. Мы обеспечиваем 
            производиство и рабочие места, но львиная доля нашей прибыли формируется исключительно
            благодаря бирже.
            </p>
            <p>
            В непростой для страны период мы решили <b class="primary-txt">обеспечить людей</b>
            возможностью торговать акциями нашей компании. Такой
            подход, прежде всего, <b class="primary-txt">принесет пользу</b> новым инвесторам,
            среди которых теперь может оказаться любой человек, проживающий
            в Германии.
            </p>
            <p>
            И, разумеется, привлекая новых людей, мы приносим пользу всему
            концерну, который нуждается в новых подходах к торговле на бирже.
            </p>
            <p>
            Не смотря на все, что сейчас происходит, мы остаемся
            одной из самых <b class="primary-txt">надежных и прибыльных</b>
            компаний, и я рад, что теперь<br> мы можем помочь другим
            в вопросе их благополучия.
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" 
                 width="200" 
                 height="200" 
                 viewBox="0 0 100 100" 
                 class="bubble absolute absolute-v-center" 
                 style="z-index: -1; right: -60px">
                <circle cx="50" cy="50" r="48" stroke="url(#gradient)" stroke-width="1" fill="none" transform='rotate(180 50 50)'/>
            </svg>
        </article>
        <a href="#order-form" class="btn primary-gradient white-txt py-10 px-20">консультация</a>
    </div>
    <div class="bottom-image">
        <img src="{{ 'assets/images/car.png'|theme }}" alt="VW" class="absolute right bottom">
    </div>
</div>