description = "First Screen"
==
<div id="cover" class="flex-evenly-center flex-wrap flex-column text-center">
    
    <div class="relative full-width py-30 flex-ls justify-between nowrap">
        <div class="label primary-bg white-txt text-center py-20 px-30">
            Зарегистрировалось:
            <div class="font-bold font-24">512</div>
        </div>
        <div class="label primary-bg white-txt text-center py-20 px-30">
            Осталось мест:
            <div class="font-bold font-24">256</div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg"
         width="240"
         height="240"
         viewBox="0 0 100 100"
         class="bubble absolute"
         style="left: -100px;">
        <circle cx="50" cy="50" r="48" stroke="url(#gradient)" stroke-width="1" fill="none" transform='rotate(-90 50 50)'/>
    </svg>

    
    <div class="full-width max-w-640 box px-20 relative z-index-2">
        <h1 class="primary-txt font-extrabold">Фольксваген упрощает доступ к инвестициям</h1>
        <p class="font-36">для жителей Германии</p>
    </div>
    <p class="font-20 font-medium max-w-640">Зарабатывайте уже сегодня, <span class="primary-txt">инвестируя вместе с Фольксваген</span></p>
    
</div>