description = "Stages Block"
==
<div class="stages relative">
    <div class="container full-height flex-evenly-center flex-wrap flex-column">
        
        <p class="font-36-ls font-30-pt font-bold primary-txt text-center max-w-640 pr-20">Как начать зарабатывать на Платформе уже сегодня:</p>
    
        <div class="p-20 text-center font-18 font-medium">
            <span class="stage">Зарегистрироваться<br> на этом сайте,<br> заполнив<br> форму</span>
            <span class="stage">Ответить на звонок<br> представителя<br> "Фольцинвест"</span>
            <span class="stage">Сделать первую<br> инвестицию на<br> желаемую сумму<br> и получить с нее<br> прибыль<br> в течение<br> недели работы<br> с Платформой</span>
        </div>
    </div>
    
    {% partial 'appeal' %}
    
</div>