@media (orientation: portrait) {
    h1,
    .h1 {
        font-size: 36px;
    }
    .label {
        margin: 6px 0;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
    .back-caption {
        height: 60px;
        font-size: 40px;
        p {
            top: 0;
            right: 5px;
        }
    }
    .order-form {
        img {
            width: 100%;
            margin: 10px 0;
            display: block;
        }
        form {
            width: 100%;
        }
    }
}
@media (orientation: landscape) {
    .logo {
        left: 0;
        right: 0;
        position: absolute;
    }
    h1,
    .h1 {
        font-size: 42px;
    }
    .back-caption {
        height: 140px;
        font-size: 120px;
        p {
            top: -60px;
            right: -60px;
        }
    }
    .order-form {
        img{
            width: 46%;
        }
        form {
            width: 40%;
        }
    }
}


@media (max-width: 644px) {
    
    
}
@media (min-width: 645px) {
    
}
@media (min-width: 645px) AND (max-width: 1024px) {
    
}
@media (max-width: 1024px) {
    
}
@media (min-width: 1025px) {
    
}
