@media (orientation: portrait) {
    h1,
    .h1 {
        font-size: 36px;
    }
    .label {
        margin: 6px 0;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
    .back-caption {
        height: 60px;
        font-size: 40px;
        p {
            top: 0;
        }
    }
    #order-form {
        img {
            width: 100%;
            margin: 10px 0;
            display: block;
        }
        form {
            width: 100%;
        }
    }
    .bottom-image {
        img {
            width: 86%;
            max-width: 400px;
        }
    }
    #reviews {
        .review {
            & > div {
                margin: 10px;
                padding: 20px;
            }
        }
        button {
            &:nth-child(1) {
                left: 0;
            }
            &:nth-child(2) {
                right: 0;
            }
        }
    }
}
@media (orientation: landscape) {
    .logo {
        left: 0;
        right: 0;
        position: absolute;
    }
    h1,
    .h1 {
        font-size: 42px;
    }
    .back-caption {
        height: 140px;
        font-size: 120px;
        p {
            top: -60px;
        }
    }
    #order-form {
        img{
            width: 46%;
        }
        form {
            width: 40%;
        }
    }
    #reviews {
        padding: 50px 0;
        .review {
            width: 400px;
            padding: 20px;
            & > div {
                padding: 30px;
            }
        }
        button {
            left: 50%;
            &:nth-child(1) {
                transform: translateX(-240px);
            }
            &:nth-child(2) {
                transform: translateX(240px);
            }
        }
    }
}


@media (max-width: 424px) {
    .bottom-image {
        height: 280px;
    }
    
}

@media (min-width: 424px) AND (max-width: 824px) {
    .bottom-image {
        height: 340px;
        img {
            max-width: 460px;
        }
    }
    
}

@media (min-width: 825px) AND (max-width: 1244px) {
    .bottom-image {
        height: 420px;
        img {
            
        }
    }
    
}
@media (min-width: 1245px) {
    .bottom-image {
        height: 320px;
        img {
            
        }
    }
}
